/*Imagem de fundo da tela de login*/
.container_principal {
  background-image: url('../../public/8767132.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: blur(5px);*/
}